# Add files here to ignore them from prettier formatting

/dist
/coverage

# Chocolate frontend
/apps/chocolate-frontend/src/assets/contract
/apps/chocolate-frontend/src/services/machines/*.typegen.ts

# Database

/packages/database/src/lib/schema.ts
/packages/database/src/migrations/*.ts

# Global
*.md
package.json
project.json
nx.json
tsconfig*.json